.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
outputs.json
.env
.env.ps1
**/terraform/build/
crash.log
crash.*.log
__pycache__/
**/app/book
**/app/user
**/app/product
**/app/stress
**/eksctl/*.rendered.yaml
