@font-face {
  font-family: 'Wanted Sans Variable';
  /* Use a relative path to the local font file in `url()`. */
  src: url('./WantedSansVariable.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}